:root {
  --color-neutral-100: #e7e5e4;
  --color-neutral-800: #262626;
  --color-emerald-800: #065f46;
  --color-rose-800: #9f1239;
  --color-sky-800: #075985;

  --typography-hx-line-height: 1.15;
  --typography-bx-line-height: 1.6;

  --typography-hx-font-weight: 200;
  --typography-bx-font-weight: 400;

  --typography-h1-font-size: 3.815rem;
  --typography-h2-font-size: 3.052rem;
  --typography-h3-font-size: 2.441rem;
  --typography-h4-font-size: 1.953rem;
  --typography-h5-font-size: 1.563rem;
  --typography-h6-font-size: 1.25rem;
  --typography-b1-font-size: 1rem;
  --typography-b2-font-size: 0.8rem;
  --typography-b3-font-size: 0.64rem;
}