@import "./_tokens.css";

body {
  background: var(--color-neutral-100);
  color: var(--color-neutral-800);
}

a {
  color: var(--typography-link-color);
  text-decoration: var(--typography-link-decoration);
  font-weight: var(--typography-link-weight);
}