@import "./_tokens.css";

body {
  background: var(--color-neutral-100);
  color: var(--color-neutral-800);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fira-sans);
  font-weight: var(--typography-hx-font-weight);
  line-height: var(--typography-hx-line-height);
}

h1 {
  font-size: var(--typography-h1-font-size);
}
h2 {
  font-size: var(--typography-h2-font-size);
}
h3 {
  font-size: var(--typography-h3-font-size);
}
h4 {
  font-size: var(--typography-h4-font-size);
}
h5 {
  font-size: var(--typography-h5-font-size);
}
h6 {
  font-size: var(--typography-h6-font-size);
}

a {
  color: var(--typography-link-color);
  text-decoration: var(--typography-link-decoration);
  font-weight: var(--typography-link-weight);
}